In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "/Users/georgesehremelis/Downloads/04_pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
unique_items = purchase_data.nunique()[4]
number_of_purchases = purchase_data.count()[0]
average_price = purchase_data.mean()[3]
total_revenue = purchase_data.sum()[6]

In [6]:
newDF = pd.DataFrame({"Unique Items": [unique_items], "Number of Purchases": [number_of_purchases], "Average Price": [average_price], "Total Revenue": [total_revenue]})
newDF.head()

   Unique Items  Number of Purchases  Average Price  Total Revenue
0           183                  780       3.050987        2379.77

In [7]:
gender_count = purchase_data.groupby(['Gender']).nunique()
gender_count

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,182,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12

In [8]:
gender_col = gender_count['SN']